@import 'geral.css';



.container-content-about{
    max-width: 1200px;
    margin: 0 auto;
}
.banner-content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navigation-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-item-about{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: var(--primaria);

}
.separator-about{
    width: 6px;
    height: 6px;
    background-color: var(--primaria);
    border-radius: 50%;
    display: inline-block;
}


.container-about-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 5rem;
}
.content-1{
    max-width: 500px;
}
.content-2{
    max-width: 500px;
}
.title-escolha{
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--dark);
    margin-bottom: 30px;
}
.title-escolha2{
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--dark);
    margin-top: 7rem;
    margin-bottom: 30px;
}
.desc-escolha{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    color: var(--dark);
}
.desc-escolha2{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    color: var(--dark);
}
.section-flutuant{
    position: absolute;
    background: #ffffff;
    display: inline-block;
    max-width: 500px;
    padding: 40px ;
    margin-right: 12rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.section-flutuant p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark);
    margin: 10px 0 8px 0;

}
.image-2{
    max-width: 100%;
    height: 100%
}

.container-about-top-mobile{
    display: none;
}
.title-escolha-mobile{
    font-size:20px ;
    font-weight: 300;
    font-family: "Lato", serif;
    color: var(--dark);
    margin-bottom: 20px;
    text-align: center;
}
.title-escolha-mobile2{
    font-size:16px ;
    font-weight: 300;
    font-family: "Lato", serif;
    color: var(--dark);
    margin-bottom: 20px;
    margin-top: 20px;
}
.desc-escolha-mobile{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark);
    margin-bottom: 20px;
}
.section-flutuant-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-flutuant-mobile p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--dark);
    margin: 10px 0 8px 0;
}
.image-2-mobile {
 text-align: center;
 max-width: 100%;
}
.image-2-mobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner-heading-about{
    font-family: "Libre Bodoni", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: var(--dark);

}



@media (max-width: 1555px) {
    .about-content{
        padding: 2rem 3rem;
    }
}
@media (max-width: 1455px) {
    .about-content{
        padding: 2rem 2rem;
    }
    .title-about{
        font-size: 22px;
    }
    .subtitle-about{
        font-size: 18px;
    }
    .about-parag-01{
        font-size: 15px;
    }
}

@media (max-width: 1411px) {
    .about-parag-01{
        font-size: 15px;
        margin: 10px 0 8px 0;

    }
}

@media (max-width: 1238px) {
    .title-about{
        font-size: 20px;
    }
    .subtitle-about{
        font-size: 16px;
    }
    .about-parag-01{
        font-size: 14px;
        margin: 0px 0 8px 0;
    }
}
@media (max-width: 1135px) {
    .about-content{
        padding: 1rem 1rem;
    }
    .title-about{
        font-size: 18px;
        margin-bottom: 0px;
    }
    .subtitle-about{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .about-parag-01{
        margin: 0px 0 5px 0;
    }
    .section-flutuant{
        margin-right: 2rem;
    }
    .content-1{
        max-width: 600px;
    }
    .content-2{
        max-width: 600px;
    }
    .title-escolha{
        font-size: 20px;
    }
    .title-escolha2{
        font-size: 20px;
    }
    .section-flutuant{
        max-width: 380px;
    padding: 20px 20px;
    }
}

@media (max-width: 800px) {
    .container-about-top{
        display: none;
    }
    .container-about-top-mobile{
        display: block;
    }
    .banner-heading-about{
        font-size: 24px;
        margin-bottom: 1rem;
    
    }
    .banner-content-about{
        margin-top: 122px;
    }
   

}
