@import 'geral.css';

/* CONTACT */
.navigation-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}
.nav-item-contact{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: var(--primaria);
}
.separator-contact{
    width: 6px;
    height: 6px;
    background-color: var(--primaria);
    border-radius: 50%;
    display: inline-block;
}
.heading-contact{
    font-family: "Libre Bodoni", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 2rem;
    text-align: center;
}
.description-contact{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-align: center; 
}

@media (max-width: 700px) {
    .heading-contact{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 1rem;
    }
    .description-contact{
        font-size: 14px;
        line-height: 20px;
        text-align: start;
    }
}