@import 'geral.css';

/* FOOTER */

.footer{
    background-color: var(--primaria);
    color: var(--secundaria);
    padding: 3rem 5rem;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo{
    max-width: 288px;
}
.footer-logo img{
    width: 100%;
}

.footer-contact h3{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 8px;
}
.footer-contact p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 8px;
}
.footer-links a{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 15px;
    color: var(--secundaria);
    cursor: pointer;
    text-decoration: none;
}


.footer-socials img{
    width: 30px;
}
.line-footer {
    background-color: var(--azul-medio);
    height: 2px;
    border: none;
    margin: 3rem 0;
}
.footer-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.footer-info p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
}
.footer-legal-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-legal {
    text-align: center;
    margin-top: 2rem;
}
.footer-legal h3{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
}
.footer-legal p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
}
.footer-partner {
    display: flex;
    align-items: center;
    margin-left: auto;
}


@media (max-width: 1035px) {
    .footer{
        padding: 2rem 3rem;
    }
    .footer-logo{
        max-width: 250px;
    }
}

@media (max-width: 900px) {
    .footer{
        padding: 2rem 2rem;
    }
    .footer-socials img{
    width: 25px;
    }
    .footer-logo{
        max-width: 200px;
    }
    .footer-contact h3{
        font-size: 14px;
    }
    .footer-contact p{
        font-size: 12px;
    }
    .footer-links p{
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo{
        max-width: 288px;
        margin-bottom: 20px;
    }
    .footer-contact {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-links {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer-socials img{
        width: 30px;
    }
    .footer-legal {
        margin-bottom: 2rem;
    }
    .footer-partner {
        margin: 0 auto;
    }
    
}