*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}


/* CORES */
:root {
    --primaria: #0F1023;
    --secundaria: #FFFFFF;
    --black: #000000;
    --dark: #242424;
    --azul-medio: #1F2039;
    --light: #F5F5F5;
    --cinza-claro: #D7D7D7;
    --cinza-medio: #848484;
}

.container-content{
    padding: 3rem 5rem;
    background-color: var(--light) ;
}
@media (max-width: 1035px) {
    .container-content{
        padding: 2rem 2rem;
    }
}
@media (max-width: 700px) {
    .container-content{
        padding: 2rem 1rem;
    }
}
